{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}
    <h1>Maintenance</h1>
    <p class="alert alert-danger">
        L'application est inaccessible durant cette période.<br/>
        Veuillez nous excuser pour la gêne occasionnée.
    </p>
{% endblock %}
