security:
  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main:
      switch_user: true
      provider: cas
      custom_authenticator: EcPhp\CasBundle\Security\CasAuthenticator
      form_login:
        check_path: cas_bundle_login
        login_path: cas_bundle_login
      entry_point: form_login
      logout:
        path: security_logout
        target: homepage
        csrf_parameter: logout
        csrf_token_generator: security.csrf.token_manager

  access_control:
    - { path: ^/admin, roles: ROLE_CAS_AUTHENTICATED } # Partie cassifié
    - { path: ^/cas, roles: PUBLIC_ACCESS } # Obligatoire.
    - { path: ^/maintenance, roles: PUBLIC_ACCESS } # Si vous avez une partie de votre application non-cassifié
    - { path: ^/, roles: PUBLIC_ACCESS } # Si vous avez une partie de votre application non-cassifié
  #    - { path: ^/, roles: ROLE_CAS_AUTHENTICATED } # Si votre application est full-cassifié

when@test:
  security:
    password_hashers:
      # By default, password hashers are resource intensive and take time. This is
      # important to generate secure password hashes. In tests however, secure hashes
      # are not important, waste resources and increase test times. The following
      # reduces the work factor to the lowest possible values.
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4 # Lowest possible value for bcrypt
        time_cost: 3 # Lowest possible value for argon
        memory_cost: 10 # Lowest possible value for argon
