
#topbar {
  z-index: 999;
  color: #fff;
  --bs-navbar-padding-y: 0rem;

  .nav-item {
    border-left: 1px solid #0f81ba;
    height: 72px;

    .nav-link {
      padding: 1.375rem 1.5rem;
      font-size: 18px;
      color: $text-color-navbar;

      &:hover {
        color: white;

        i {
          color: white;
        }
      }
    }

    span {
      margin-left: 0.25rem;
    }
  }
}


#navbar-brand-img {
  width: auto;
  height: 40px;
  display: inline-block;
}

#navbar-brand-name {
  border-left: 2px solid $text-color-navbar;
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-top: 0.125rem;
  padding-left: 0.5rem;
  color: #FFFFFF;
}